img {
    filter: grayscale(90%);
    width: 400px;
}

hr {
    width: 250px;
    height: 3px;
    border: 0;
    background-color: blue;
    margin-bottom: 35px;
}


/* Index Page */
.aboutPar {
    font-family: 'Nunito', sans-serif;
    margin-top: 20px;
    line-height: 2.25;
}

.aboutTitle {
    font-family: 'Nunito', sans-serif;
}