body {
    background-color: #12181B;
    color: #FFFFFF
}

.pageTitle {
    font-family: 'Lato', sans-serif;
    font-size: 50px;
}

hr {
    width: 275px;
    height: 3px;
    border: 0;
    background-color: #00B4DB;
    margin-bottom: 35px;
}



/* Navbar */
nav {
    background-color: #2A2E35;
}

nav a {
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
}

.nav-link {
    opacity: 0.75;
}
.nav-link:hover {
    color: #FFFFFF;
    opacity: 1;
}



/* Footer */
footer {
    background-color: #2A2E35;
}

footer p {
    font-family: 'Lato', sans-serif;
    margin-bottom: 0;
}

#footerRow {
    margin-right: 0px;
}

footer a i:hover {
    opacity: 75%;
}

.fa-linkedin {
    color: #0A66C2;
}

.fa-github-square {
    color: #141414;
}

.fa-file-alt {
    color: #E7E7E7;
}



/* Index Page */
.aboutPar {
    font-family: 'Nunito', sans-serif;
    margin-top: 20px;
    line-height: 2.25;
}

.aboutTitle {
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
}

.aboutSec {
    margin-bottom: 75px;
}

img.aboutPics {
    filter: grayscale(100%);
    width: 400px;
    border-radius: 10px;
}

@media (max-width: 400px){
    img.aboutPics {
        width: 300px;
    }
}



/* Contact Page */
main.contact p {
    font-family: 'Lato', sans-serif;
    line-height: 1.5;;
}

main.contact label {
    font-family: 'Lato', sans-serif;
}

#btnContact {
    background-color: transparent;
    color: #00B4DB;
    border: 1px solid #00B4DB;
    font-family: 'Lato', sans-serif;
}
#btnContact:hover {
    background-color: #00B4DB;
    color: white;
}



/* Portfolio Page */
.card {
    width: 45vw;
    border: 1px solid #00B4DB;
    border-radius: 4px;
    transition: transform 0.15s ease-in;
}

@media (max-width: 768px){
    .card {
        width: 90vw;
    }
}

.card:hover {
    transform: scale(1.01)
}

.card-body {
    color: white;
    background-color: #2A2E35;
}


.repo-link {
    color: #B2BECD;
    border: 1px solid #454E56;
    background-color: #454E56;
    border-radius: 3px;
    padding: 3px 5px;
    margin-right: 5px !important;
}
.repo-link:hover {
    color: #B2BECD;
    opacity: 90%;
    text-decoration: none;
}

.app-link {
    color: #00B4DB;
    border: 1px solid #222222;
    background-color: #222222;
    border-radius: 3px;
    padding: 3px 5px;
}
.app-link:hover {
    color: #00B4DB;
    opacity: 80%;
    text-decoration: none;
}
