/* Navbar */
nav a {
    font-family: 'Lato', sans-serif;
}

nav {
    background: #00B4DB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


/* Footer */
footer p {
    font-family: 'Lato', sans-serif;
}

#footerRow {
    margin-right: 0px;
}


/* Index Page */
.aboutPar {
    font-family: 'Nunito', sans-serif;
    margin-top: 20px;
    line-height: 2.25;
}

.aboutTitle {
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
}

.aboutSec {
    margin-bottom: 75px;
}

.pageTitle {
    font-family: 'Lato', sans-serif;
    font-size: 50px;
}

img {
    filter: grayscale(100%);
    width: 400px;
}


/* Contact Page */
main.contact p {
    font-family: 'Lato', sans-serif;
    line-height: 1.5;;
}

main.contact label {
    font-family: 'Lato', sans-serif;
}

#btnContact {
    font-family: 'Lato', sans-serif;
}



hr {
    width: 275px;
    height: 3px;
    border: 0;
    background-color: #00B4DB;
    margin-bottom: 35px;
}
