body {
    background-color: #FFFFFF;
    color: #12181B
}

.sectionTitle {
    font-family: "Open Sans", sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin-top: 50px;
}

hr {
    width: 275px;
    height: 3px;
    border: 0;
    background-color: #0cb4b4;
    margin-bottom: 35px;
}

section:not(.hero):nth-child(odd) {
    background-color: #f5f5f5;
}





/* Navbar */
nav {
    background-color: #2A2E35;
    margin-bottom: 0px;
    height: 12vh;
}

nav a {
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
}

.nav-link {
    opacity: 0.75;
}
.nav-link:hover {
    color: #FFFFFF;
    opacity: 1;
}





/* Banner */
.hero {
    position: relative;
    justify-content: center;
    text-align: center;
    min-width: 100%;
    height: 88vh;
    border: 1px solid #0cb4b4;
}

.hero .background-image {
    background-image: url(./main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #0cb4b4;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 88vh;
    z-index: -1;
}

.hero-content-area {
    height: 220px;
    width: 500px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    opacity: 0;
    animation: 1s slidefade 1s forwards;
}

@keyframes slidefade {
    100% {
        opacity: 1;
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
    }
}

.hero-content-area h1 {
    font-size: 60px;
    font-family:"Open Sans", sans-serif;
    margin-bottom: 20px;
}

.hero-content-area h3 {
    font-size: 35px;
    font-family:"Open Sans", sans-serif;
    margin-bottom: 45px;
}

.hero-content-area a {
    border: 1px solid #0cb4b4;
    background-color: #0cb4b4;
    color: #fff;
    padding: 10px 25px;
    border-radius: 2px;
}
.hero-content-area a:hover {
    text-decoration: none;
}





/* About Section */
#about {
    padding-bottom: 25px;
}

.aboutPar {
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    margin-top: 20px;
    line-height: 2.25;
}

.aboutTitle {
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
}

img.aboutPics {
    filter: grayscale(100%);
    width: 300px;
    border-radius: 10px;
}

@media (max-width: 400px){
    img.aboutPics {
        width: 300px;
    }
}





/* Portfolio Section */
#portfolio {
    padding-bottom: 25px;
}

.card {
    width: 400px;
    border-radius: 4px;
}

@media (max-width: 768px){
    .card {
        width: 90vw;
    }
}

.card-body {
    color: #2A2E35;
    background-color: white;
}

.card-text {
    opacity: 65%;
}

.repo-link {
    color: #B2BECD;
    border: 1px solid #454E56;
    background-color: #454E56;
    border-radius: 3px;
    padding: 3px 5px;
    margin-right: 5px !important;
}
.repo-link:hover {
    color: #B2BECD;
    opacity: 90%;
    text-decoration: none;
}

.app-link {
    color: #00B4DB;
    border: 1px solid #222222;
    background-color: #222222;
    border-radius: 3px;
    padding: 3px 5px;
}
.app-link:hover {
    color: #00B4DB;
    opacity: 80%;
    text-decoration: none;
}

.fa-star {
    color: #FCDC05;
}





/* Contact Section */
#contact {
    padding-bottom: 25px;
}

main.contact p {
    font-family: 'Lato', sans-serif;
    line-height: 1.5;;
}

main.contact label {
    font-family: 'Lato', sans-serif;
}

#btnContact {
    background-color: transparent;
    color: #00B4DB;
    border: 1px solid #00B4DB;
    font-family: 'Lato', sans-serif;
}
#btnContact:hover {
    background-color: #00B4DB;
    color: white;
}





/* Footer */
footer {
    background-color: #2A2E35;
    color: #fff;
}

footer p {
    font-family: 'Lato', sans-serif;
    margin-bottom: 0;
}

#footerRow {
    margin-right: 0px;
}

footer a i:hover {
    opacity: 75%;
}

.fa-linkedin {
    color: #0A66C2;
}

.fa-github-square {
    color: #141414;
}

.fa-file-alt {
    color: #E7E7E7;
}