/* Navbar */
nav a {
    font-family: 'Lato', sans-serif;
}


/* Footer */
footer p {
    font-family: 'Lato', sans-serif;
}


/* Index Page */
.aboutPar {
    font-family: 'Nunito', sans-serif;
    margin-top: 20px;
    line-height: 2.25;
}

.aboutTitle {
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
}

.pageTitle {
    font-family: 'Lato', sans-serif;
    font-size: 50px;
}

img {
    filter: grayscale(100%);
    width: 400px;
}


/* Contact Page */
main.contact p {
    font-family: 'Lato', sans-serif;
    line-height: 1.5;;
}

main.contact label {
    font-family: 'Lato', sans-serif;
}



hr {
    width: 250px;
    height: 3px;
    border: 0;
    background-color: blue;
    margin-bottom: 35px;
}
