/* General Styles */

body {
    background-color: #FFFFFF;
    color: #12181B;
}

section:not(.hero):nth-child(odd) {
    background-color: #ececec;
}

.sectionTitle {
    font-family: "Open Sans", sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin-top: 50px;
}

.sectionDesc {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
}

hr {
    width: 275px;
    height: 3px;
    border: 0;
    background-color: #0cb4b4;
    margin-bottom: 35px;
}

.row {
    margin: auto;
}





/* Navbar */
nav {
    background-color: none;
    list-style: none;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 50px;
    animation: 1.5s fadein 1s forwards;
    opacity: 0;
    z-index: 1;
}
@keyframes fadein {
    100% {
        opacity: 1;
    }
}

@media (max-width: 800px) {
    nav {
        flex-direction: column;
    }

    header h2 {
        margin-bottom: 15px;
    }
}

nav li {
    display: inline;
    margin-right: 15px;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    font-family: "Quicksand", sans-serif;
    transition: 0.2s all ease-in;
}
nav li:hover {
    padding-bottom: 5px;
    border-bottom: 2px solid #0cb4b4;
}

.brand-name li {
    font-size: 24px;
}

nav li a {
    color: black;
}
nav li a:hover {
    color: black;
    text-decoration: none;
}




/* Banner */
.hero {
    position: relative;
    justify-content: center;
    text-align: center;
    max-width: 100%;
    height: 100vh;
    border: 1px solid white;
}

.hero .background-image {
    background-image: url(./main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100vh;
    z-index: -1;
}

.hero-content-area {
    height: 220px;
    width: 500px;
    margin-top: 300px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    opacity: 0;
    animation: 1s slidefade 1s forwards;
}

@keyframes slidefade {
    100% {
        opacity: 1;
        margin-top: 200px;
        margin-left: auto;
        margin-right: auto;
    }
}

.hero-content-area h1 {
    font-size: 55px;
    font-family:"Open Sans", sans-serif;
    margin-bottom: 20px;
}

.hero-content-area h3 {
    font-size: 30px;
    font-family:"Open Sans", sans-serif;
    margin-bottom: 45px;
}

.hero-content-area a {
    border: 1px solid #0cb4b4;
    background-color: #0cb4b4;
    color: #fff;
    padding: 10px 25px;
    border-radius: 2px;
}
.hero-content-area a:hover {
    text-decoration: none;
}

@media (max-width: 800px) {
    .hero-content-area {
        width: 300px;
        margin-top: 75px;
    }
    .hero h1 {
        font-size: 38px;
    }
    .hero h3 {
        font-size: 25px;
    }
}




/* About Section */
#about {
    padding-bottom: 75px;
}

.aboutPar {
    font-size: 18px;
    font-family: "Quicksand", sans-serif;
    margin-top: 20px;
    line-height: 2.25;
}

img.aboutPics {
    width: 275px;
    border-radius: 10px;
}





/* Portfolio Section */
#portfolio {
    padding-bottom: 25px;
}

.card {
    width: 450px;
    border-radius: 4px;
}

@media (max-width: 760px){
    .card {
        width: 90vw;
    }
}

.card-body {
    color: black;
    background-color: white;
}

.card-text {
    color: #2A2E35;
}

.app-link {
    border: 1px solid #0cb4b4;
    background-color: #0cb4b4;
    color: #fff;
    border-radius: 3px;
    padding: 3px 7px;
    margin-right: 5px !important;
}
.app-link:hover {
    color: #fff;
    opacity: 80%;
    text-decoration: none;
}

.repo-link {
    color: black;
    border: 1px solid #ececec;
    background-color: #ececec;
    border-radius: 3px;
    padding: 3px 5px;
}
.repo-link:hover {
    color: black;
    opacity: 90%;
    text-decoration: none;
}

.fa-star {
    color: #FCDC05;
}





/* Contact Section */
#contact {
    padding-bottom: 75px;
}

.contact-card {
    display: flex;
    align-items: center;
    width: 800px;
    height: 450px;
    margin: 0 auto;
    background-color: #0cb4b4;
    border-radius: 5px;
}

.contact-info {
    width: 500px;
    height: 375px;
    padding: 15px;
    border-radius: 5px;
    background-color: white;
    position: relative;
    left: -100px;
}

.contact-info-head {
    margin-bottom: 20px;
}

.contact-info ul li {
    font-size: 20px;
    font-family: "Quicksand", sans-serif;
    margin-bottom: 25px;
}

.contact-icon {
    color: #0cb4b4;
}

.contact-list {
    margin-bottom: 75px;
}

form {
    width: 600px;
    height: 450px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: #0cb4b4;
    padding: 10px;
    color: white;
    position: relative;
    left: -50px;
}

form h1 {
    margin-bottom: 25px;
    text-align: center;
}

form label {
    font-family: "Quicksand", sans-serif;
    display: block;
    margin-left: auto;
}

form input, textarea {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ececec;
}

form textarea {
    resize: none;
}

.form-input {
    margin-bottom: 15px;
}

#btnDiv {
    display: flex;
    justify-content: center;
}

#btnContact {
    background-color: white;
    color: #0cb4b4;
    border: 1px solid #0cb4b4;
    font-family: "Open Sans", sans-serif;
    margin: 0 auto;
    padding: 5px 20px;
    border-radius: 5px;
}
#btnContact:hover {
    background-color: #ececec;
}

@media (max-width: 1000px) {
    .contact-card {
        width: 600px;
    }
    .contact-info {
        width: 350px;
    }
    form {
        width: 400px;
    }
    .contact-info ul li {
        font-size: 16px;
    }
}

@media (max-width: 800px) {
    .contact-card {
        width: 600px;
    }
    .contact-info {
        width: 300px;
        left: -50px;
    }
    form {
        width: 350px;
    }
}

@media (max-width: 675px) {
    .contact-card {
        width: 350px;
        height: 950px;
        flex-direction: column;
    }
    .contact-info {
        width: 350px;
        left: 0px;
        border-radius: 0;
        text-align: center;
    }
    form {
        width: 350px;
        left: 0px;
        border-radius: 0;
    }
    .contact-info ul li {
        font-size: 20px;
    }
}





/* Footer */
footer {
    background-color: #2A2E35;
    color: #fff;
}

footer p {
    font-family: 'Lato', sans-serif;
    margin-bottom: 0;
}

#footerRow {
    margin-right: 0px;
}

footer a i:hover {
    opacity: 75%;
}

.fa-linkedin {
    color: #0A66C2;
}

.fa-github-square {
    color: #141414;
}

.fa-file-alt {
    color: #E7E7E7;
}





/* Landscape View */
@media only screen and (max-height: 360px) and (orientation: landscape) { 
    nav {
        flex-direction: row;
        padding: 40px 10px;
    }

    .hero-content-area {
        margin-top: 50px;
    }
    @keyframes slidefade {
        100% {
            opacity: 1;
            margin-top: 100px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .hero-content-area h1 {
        font-size: 30px;
        margin-bottom: 15px;
    }
    
    .hero-content-area h3 {
        font-size: 20px;
        margin-bottom: 30px;
    }
    
    .hero-content-area a {
        padding: 10px 15px;
    }

}